@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  --color-primary: #111111;
  --color-secondary: #F4F4F4;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-light {
  --color-primary: #111111;
  --color-secondary: #F4F4F4;
  background-color: var(--color-secondary);
  transition: background-color linear 0.2s;
}
.theme-dark {
  --color-primary: #F4F4F4;
  --color-secondary: #111111;
  background-color: var(--color-secondary);
  transition: background-color linear 0.2s;
}

.text {
  color: var(--color-primary);
}

.text__size-xl {
  font-size: 48px;
  line-height: 52px;
}

@media screen and (min-width: 1024px) {
  .text__size-xl {
    font-size: 160px;
    line-height: 148px;
  } 
}

.text__size-l {
  font-size: 32px;
  line-height: 32px;
}

@media screen and (min-width: 1024px) {
  .text__size-l {
    font-size: 64px;
    line-height: 64px;
  }
}

.text__size-m {
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 1024px) {
  .text__size-m {
    font-size: 24px;
    line-height: 28px;
  }
}

.text__size-s {
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 1024px) {
  .text__size-s {
    font-size: 20px;
    line-height: 24px;
  }
}

.text-opacity {
  opacity: 0.64;
}